.reverse{
    flex-direction: row-reverse !important;
}

.spotlights > section:nth-child(even){
    flex-direction: row-reverse !important;
}
iframe{
    width: 100%;
}

table{
    margin-top: 50px;
}

table caption{
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
    caption-side: top;
    text-align: center;
    color:#ffffff;
}